# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL_USERS_SERVICE="mysql://app:yourPassword@mysql-ticketing-users:3306/ticketing_users"
DATABASE_NAME_USERS_SERVICE=ticketing_users
DATABASE_USER_USERS_SERVICE=app
DATABASE_PASSWORD_USERS_SERVICE=yourPassword
DATABASE_ROOT_PASSWORD_USERS_SERVICE=yourPassword
DATABASE_URL_AUTH_SERVICE="mysql://app:yourPassword@mysql-ticketing-auth:3306/ticketing_auth"
DATABASE_NAME_AUTH_SERVICE=ticketing_auth
DATABASE_USER_AUTH_SERVICE=app
DATABASE_PASSWORD_AUTH_SERVICE=yourPassword
DATABASE_ROOT_PASSWORD_AUTH_SERVICE=yourPassword

DATABASE_URL_EVENTS_SERVICE="mysql://app:yourPassword@mysql-ticketing-events:3306/ticketing_events"
DATABASE_NAME_EVENTS_SERVICE=ticketing_events
DATABASE_USER_EVENTS_SERVICE=app
DATABASE_PASSWORD_EVENTS_SERVICE=yourPassword
DATABASE_ROOT_PASSWORD_EVENTS_SERVICE=yourPassword

DATABASE_URL_BOOKINGS_SERVICE="mysql://app:yourPassword@mysql-ticketing-bookings:3306/ticketing_bookings"
DATABASE_NAME_BOOKINGS_SERVICE=ticketing_bookings
DATABASE_USER_BOOKINGS_SERVICE=app
DATABASE_PASSWORD_BOOKINGS_SERVICE=yourPassword
DATABASE_ROOT_PASSWORD_BOOKINGS_SERVICE=yourPassword

JWT_SECRET=yourSecret